body {
    background-color: black;
    color: white;
}

h1 {
    color: cyan;
    font-size: 32px; /* Adjust size as needed */
}

h2 {
    color: cyan;
    font-size: 24px; /* Adjust size as needed */
}

h3 {
    color: cyan;
    font-size: 20px; /* Adjust size as needed */
}
